<% if false %> 
esto es un comentario en bloque
#<h1>Pages#About</h1>
#<p>
# <%= link_to "Inicio", root_path%>
#</p>
<% end %>
<div class="jumbotron center">
<h1> Bienvenido</h1>
<p>
<% if false %> comentario en linea = link_to "Iniciar sesión","#",class:'btn btn-default btn-lg' -%>
<% end %>
<%= link_to "Registrarse","#",class:'btn btn-default btn-lg'%>

</p>
</div>